In [1]:
import pandas as pd
import numpy as np

In [2]:
data= pd.read_csv("spotify_millsongdata.csv")
data.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57650 entries, 0 to 57649
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   artist  57650 non-null  object
 1   song    57650 non-null  object
 2   link    57650 non-null  object
 3   text    57650 non-null  object
dtypes: object(4)
memory usage: 1.8+ MB

In [4]:
data.describe()

,artist,song,link,text
count,57650,57650,57650,57650
unique,643,44824,57650,57494
top,Donna Summer,Have Yourself A Merry Little Christmas,/a/abba/ahes+my+kind+of+girl_20598417.html,I just came back from a lovely trip along the ...
freq,191,35,1,6

In [5]:
data.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [6]:
data.tail()

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [7]:
data.shape

(57650, 4)

In [8]:
data['text'][0]

"Look at her face, it's a wonderful face  \r\nAnd it means something special to me  \r\nLook at the way that she smiles when she sees me  \r\nHow lucky can one fellow be?  \r\n  \r\nShe's just my kind of girl, she makes me feel fine  \r\nWho could ever believe that she could be mine?  \r\nShe's just my kind of girl, without her I'm blue  \r\nAnd if she ever leaves me what could I do, what could I do?  \r\n  \r\nAnd when we go for a walk in the park  \r\nAnd she holds me and squeezes my hand  \r\nWe'll go on walking for hours and talking  \r\nAbout all the things that we plan  \r\n  \r\nShe's just my kind of girl, she makes me feel fine  \r\nWho could ever believe that she could be mine?  \r\nShe's just my kind of girl, without her I'm blue  \r\nAnd if she ever leaves me what could I do, what could I do?\r\n\r\n"

In [9]:
data['text'] = data['text'].str.lower().replace(r'^\w\s' , ' ').replace(r'\n' , ' ' , regex=True)

In [10]:
data['text'][0]

"look at her face, it's a wonderful face  \r and it means something special to me  \r look at the way that she smiles when she sees me  \r how lucky can one fellow be?  \r   \r she's just my kind of girl, she makes me feel fine  \r who could ever believe that she could be mine?  \r she's just my kind of girl, without her i'm blue  \r and if she ever leaves me what could i do, what could i do?  \r   \r and when we go for a walk in the park  \r and she holds me and squeezes my hand  \r we'll go on walking for hours and talking  \r about all the things that we plan  \r   \r she's just my kind of girl, she makes me feel fine  \r who could ever believe that she could be mine?  \r she's just my kind of girl, without her i'm blue  \r and if she ever leaves me what could i do, what could i do?\r \r "

In [11]:
final_data = data.sample(n = 5000).drop('link' , axis=1).reset_index(drop = True)

In [12]:
import nltk
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()

In [13]:
def tokenization(txt):
    a = [ ps.stem(i) for i in txt.split()]
    return " ".join(a)

In [14]:
final_data['text'] = final_data['text'].apply(tokenization)

In [15]:
final_data['text'][0]

"dancin' in the dark 'til the tune end we'r dancin' in the dark and it soon end we'r waltzin' in the wonder of whi we'r here time hurri by, we'r here, and we'r gone lookin' for the light of a new love to brighten up the night, i have you love and we can face the music togeth danc in the dark what though love is old what though song is old through them we can be young hear thi heart of mine wailin' all the time dear one, tell me that we'r one lookin' for the light of a new love to brighten up the night i have you love and we can face the music togeth dancin' in the dark dancin' in the dark dancin' in the dark"

In [16]:
from sklearn.feature_extraction.text import CountVectorizer

In [17]:
from sklearn.metrics.pairwise import cosine_similarity

In [18]:
cv = CountVectorizer(analyzer='word' , stop_words='english')

In [19]:
vectors = cv.fit_transform(final_data['text'])

In [20]:
similarity = cosine_similarity(vectors)

similarity[0]

array([1.        , 0.05197192, 0.10669007, ..., 0.02069162, 0.0745767 ,
       0.20454717])

In [23]:
final_data['song']

0            Dancing In The Dark
1         Screaming From The Sky
2             Boy With A Problem
3               Notorious B.I.G.
4       All I Do Is Dream Of You
                  ...
4995               Makeout Party
4996    Back On The Street Again
4997              What A Feeling
4998            Three Mile Smile
4999    Dweller On The Threshold
Name: song, Length: 5000, dtype: object

In [24]:
final_data[final_data['song']=="Screaming From The Sky"].index[0]

1

In [25]:
def recomend(song_name):
    idx = final_data[final_data['song'] == song_name].index[0]
    distance = sorted(list(enumerate(similarity[idx])) , reverse = True , key = lambda x : x[1])
    song = []
    for i in distance[1:6]:
        song.append(final_data.iloc[i[0]].song)
        
    return song

In [27]:
recomend("Screaming From The Sky")

['At Dawn They Sleep',
 'Cry For Home',
 "I'll Be There",
 'In The Shadow Of The Valley Of Death',
 'The Walking Dead']

In [29]:
import pickle as pk

pk.dump(similarity , open('similaruty.pkl' , 'wb'))
pk.dump(final_data , open("df.pkl" , 'wb'))